$corDeFundo: #040714;
$corTextoPrincipal: #c0c0c0;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #6421ff;
$hoverBotaoPrimario: #7034fc;
$corDeFundoBotaoSecundario: #0063e5;
$hoverBotaoSecundario: #1c71df;
$corDeFundoBotaoDark: #000;